<!----------------------------------------------------------------------------------------------------
--- Created By:         Team FiPi                                                                  ---
--- Date:               Spring 2017 - Fall 2018                                                    ---
--- Purpose:            Dashboard UI for facial recognition app. Displays the name of the user     ---
---                     pulled from Google API and the status of the lock box.                     ---
---                     Links include:                                                             ---
---                       Account: Access account info and view the photo depository.              ---
---                     Buttons include:                                                           ---
---                       Upload: Allows user to upload photos into the repository.                ---
---                       Unlock: Allows user to attempt to unlock the box with a live photo.      ---
----------------------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <!-- Gradient background -->
  <body background = "{{url_for('static', filename = 'img/bg.png')}}">
   
  <!-- Tab name -->
  <title>FiPi Dashboard</title>
  
  <!-- References to style sheets -->
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename= 'css/css.css')}}">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Vertical navigation bar -->
  <ul><txt><h3>
  <li><center><img src = " {{ url_for('static', filename= 'img/LogoPic2.PNG')}}" style = "width: 75px; height: 87px;"></center><br>
  <div class = "active"><b>Welcome to FiPi</b></div></li> 
  <li><a href="{{url_for('account') }}">Account</a></li><br><br><br>
  <li><center><butt><span onclick = "window.location.href='{{ url_for( 'upload' ) }}';">Upload</span></butt></center></li><br><b>
  <li><center><butt><span onclick = "window.location.href='{{ url_for( 'unlock' ) }}';">Unlock</span></butt></center></li>
  </ul>

  <body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name = "google-signin-scope" content = "profile email">
    <meta name = "google-signin-client_id" content = "470743064073-ork5vou2ltmkro39586cc9kbsvn3ch4n.apps.googleusercontent.com">
    <script src = "https://apis.google.com/js/platform.js" async defer></script>
    <div class = "g-signin2" data-onsuccess = "onSignIn" hidden="true"></div>
  <!-- Middle text box -->
  <br>
  <div style = "margin-left: 28%;">
 
  <h1><gen>Welcome User</gen></h1></div>
  <div style = "margin-left:25%; padding:1px 16px; height:1000px;">
  <txt><h3><p id = "rcorners">Dashboard:<br><br><br>
  Here will be displayed the name of the user pulled from Google API
  and the status of the lock box.</p></h3></txt>
  
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          window.location.href='{{ url_for( 'profile' ) }}';
        });
      }
    </script></div>
 </body> 

</html>
