<!doctype html>
    <html>
	  <!-- Tab name -->
	  <title>FiPi Login</title>
	  
	  <!-- References to style sheets -->
	  <link href = "https://fonts.googleapis.com/css?family=Raleway" rel = "stylesheet">
	  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename= 'CSS.css')}}">
	  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  
	  <!-- Link To Dashboard --> 
	  <strong><nav>
		<a href="{{url_for('profile') }}">Home</a>
		<a href="{{url_for('dashboard') }}">Dashboard</a>
	  </nav></strong>
	  
	  <!-- Gradient background -->
	  <body background = "{{url_for('static', filename = 'img/bg.png')}}">

	  	<br><br>
	  <!-- Title at top -->
	  <h1><center><text2>Welcome to FiPi</text2></center></h1>
	  <text2><h4><center>The Best Open-Source Security</center></h4></text2>
	  <br><br>
	  
	  <!-- Logo -->
	  <center><img src = " {{ url_for('static', filename= 'img/LogoPic2.PNG')}}"></center>
	  <br><br><br>
	  
	  <!-- Google Sign-in -->
	  <center>
	  	<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name = "google-signin-scope" content = "profile email">
		<meta name = "google-signin-client_id" content = "470743064073-ork5vou2ltmkro39586cc9kbsvn3ch4n.apps.googleusercontent.com">
		<script src = "https://apis.google.com/js/platform.js" async defer></script>
		<div class = "g-signin2" data-onsuccess = "onSignIn"></div>
		<script>
		  function onSignIn(googleUser) 
		  {
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log("Image URL: " + profile.getImageUrl());
			console.log("Email: " + profile.getEmail());
			// The ID token you need to pass to your backend:
			var id_token = googleUser.getAuthResponse().id_token;
			console.log("ID Token: " + id_token);
		  };
		<a href="#" onclick="signOut();">Sign out</a>
        <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
        </script>
		</script>
	  </center>
	 </body>
	</html>
