<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">FiPi 2018</h1>
        <strong><nav>
          <ul class="menu">

	  <!-- Link To Dashboard -->
		<li><a href="{{url_for('profile') }}">Home</a></li>
		<li><a href="{{url_for('dashboard') }}">Dashboard</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

 </body>
</html>

